@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@400;600&display=swap');

::-webkit-scrollbar-track {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hind Vadodara', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

.menu {
    width: 100%;
    height: 65px;
    background: url('../../../../../public/images/menu.png') repeat-x ;
}