.type-bug {
  background-color: rgb(143, 191, 44);
  border-radius: 10px;
  box-shadow: 0px 3px 0 #32363B, 0px -2px 0 #c2c27c;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3px;
}

.type-dark {
  background-color: rgb(88, 83, 98);
  border-radius: 10px;
  box-shadow: 0px 3px 0 #32363B, 0px -2px 0 #c2c27c;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3px;
}

.type-dragon {
  background-color: rgb(9, 109, 195);
  border-radius: 10px;
  box-shadow: 0px 3px 0 #32363B, 0px -2px 0 #c2c27c;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3px;
}

.type-electric {
  background-color: rgb(242, 197, 61);
  border-radius: 10px;
  box-shadow: 0px 3px 0 #32363B, 0px -2px 0 #c2c27c;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3px;
}

.type-fairy {
  background-color: rgb(235, 142, 230);
  border-radius: 10px;
  box-shadow: 0px 3px 0 #32363B, 0px -2px 0 #c2c27c;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3px;
}

.type-fighting {
  background-color: rgb(216, 58, 106);
  border-radius: 10px;
  box-shadow: 0px 3px 0 #32363B, 0px -2px 0 #c2c27c;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3px;
}

.type-fire {
  background-color: rgb(253, 157, 80);
  border-radius: 10px;
  box-shadow: 0px 3px 0 #32363B, 0px -2px 0 #c2c27c;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3px;
}

.type-flying {
  background-color: rgb(145, 168, 218);
  border-radius: 10px;
  box-shadow: 0px 3px 0 #32363B, 0px -2px 0 #c2c27c;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3px;
}

.type-ghost {
  background-color: rgb(75, 104, 170);
  border-radius: 10px;
  box-shadow: 0px 3px 0 #32363B, 0px -2px 0 #c2c27c;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3px;
}

.type-grass {
  background-color: rgb(100, 186, 95);
  border-radius: 10px;
  box-shadow: 0px 3px 0 #32363B, 0px -2px 0 #c2c27c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.type-ground {
  background-color: rgb(199, 180, 138);
  border-radius: 10px;
  box-shadow: 0px 3px 0 #32363B, 0px -2px 0 #c2c27c;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3px;
}

.type-ice {
  background-color: rgb(116, 203, 194);
  border-radius: 10px;
  box-shadow: 0px 3px 0 #32363B, 0px -2px 0 #c2c27c;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3px;
}

.type-normal {
  background-color: rgb(176, 176, 128);
  border-radius: 10px;
  box-shadow: 0px 3px 0 #32363B, 0px -2px 0 #c2c27c;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3px;
}

.type-poison {
  background-color: rgb(171, 105, 202);
  border-radius: 10px;
  box-shadow: 0px 3px 0 #32363B, 0px -2px 0 #c2c27c;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3px;
}

.type-psychic {
  background-color: rgb(245, 114, 120);
  border-radius: 10px;
  box-shadow: 0px 3px 0 #32363B, 0px -2px 0 #c2c27c;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3px;
}

.type-rock {
  background-color: rgb(199, 180, 138);
  border-radius: 10px;
  box-shadow: 0px 3px 0 #32363B, 0px -2px 0 #c2c27c;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3px;
}

.type-steel {
  background-color: rgb(85, 145, 163);
  border-radius: 10px;
  box-shadow: 0px 3px 0 #32363B, 0px -2px 0 #c2c27c;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3px;
}

.type-water {
  background-color: rgb(78, 146, 213);
  border-radius: 10px;
  box-shadow: 0px 3px 0 #32363B, 0px -2px 0 #c2c27c;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3px;
}